google-cloud-bigquery==3.40.1
pandas==2.2.3
protobuf==4.25.3
pyspark==3.5.1
pytest==8.3.3
setuptools==75.1.0
db-dtypes==1.5.0
scipy==1.14.1
numpy==1.26.4
plotly==5.24.1
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
joblib==1.4.2
xgboost==2.1.2
